@model M7_Class_37_Work_01.Models.Student

@{
    ViewData["Title"] = "Create";
}



<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create Student</h4>
    </div>
    <div class="card-body">
        @if (ViewBag.PostBack != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Success!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Data Save Successfully.</p>
            </div>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="CourseId" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <select class="form-control" asp-for="CourseId" asp-items="@(new SelectList(ViewBag.Courses,"CourseId", "CourseName"))">
                        <option value="">Select</option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StudentName" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <input asp-for="StudentName" class="form-control" />
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DOB" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <input type="text" asp-for="DOB" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4 offset-2">
                    <input type="submit" value="Save data" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">

        <div class="d-flex">
            <a class="card-link" asp-action="Index"><span class="fa fa-long-arrow-left"></span> Back to list</a>
           
        </div>

    </div>
</div>


@section styles {

    <environment include="Development">
        <link href="~/libs/fontawesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/libs/gijgo/css/gijgo.css" rel="stylesheet" />
        <link href="~/libs/bs4-toast/toast.min.css" rel="stylesheet" />
    </environment>
}
@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/libs/bs4-toast/toast.min.js"></script>
    <script src="~/libs/gijgo/js/gijgo.js"></script>

    <script>
        $(document).ready(() => {
            $("#DOB").datepicker({
                uiLibrary: 'bootstrap4',
                format: 'yyyy-mm-dd'
            });
        });
    </script>

}
